<div class="tw-mt-auto">
  @let accessibleProducts = accessibleProducts$ | async;
  @if (accessibleProducts && accessibleProducts.length > 1) {
    <!-- [attr.icon] is used to keep the icon attribute on the bit-nav-item after prod mode is enabled. Matches other navigation items and assists in automated testing. -->
    <bit-nav-item
      *ngFor="let product of accessibleProducts"
      [icon]="product.icon"
      [text]="product.name"
      [route]="product.appRoute"
      [attr.icon]="product.icon"
      [forceActiveStyles]="product.isActive"
    >
    </bit-nav-item>
  }
</div>
